<a href="https://colab.research.google.com/github/jane95924/janeweek4/blob/master/jane_w4__ip.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



 As a data scientist working for an electric car-sharing service company. You have been tasked to process stations data to understand electric car usage over time by solving for the following research question;

Research Question

Identify the most popular hour of the day for picking up a shared electric car (Bluecar) in the city of Paris over the month of April 2018.
Bonus Questions 

What is the most popular hour for returning cars?
What station is the most popular?
Overall?
At the most popular picking hour?
What postal code is the most popular for picking up Blue cars? Does the most popular station belong to that postal code?
Overall?
At the most popular picking hour?
Do the results change if you consider Utilib and Utilib 1.4 instead of Blue cars? 


Dataset provided 

'/content/Autolib_dataset (2).csv'

Importing our libraries

In [0]:
import pandas as pd
import numpy as np

Reading the dataset from our csv file and previewing.

In [0]:
df= pd.read_csv('/content/Autolib_dataset (2).csv', encoding ='latin1')
df.head(20)

    Unnamed: 0  Unnamed: 0.1  Unnamed: 0.1.1  ... day  hour  minute
0            0             0               0  ...   8    11      43
1            1             1               1  ...   6     7      24
2            2             2               2  ...   3    20      14
3            3             3               3  ...   4     4      37
4            4             4               4  ...   8    17      23
5            5             5               5  ...   6     7       2
6            6             6               6  ...   8    18      20
7            7             7               7  ...   4    22      13
8            8             8               8  ...   2    22      58
9            9             9               9  ...   4    15       2
10          10            10              10  ...   1     4      39
11          11            11              11  ...   6     9      20
12          12            12              12  ...   5    12      22
13          13            13              13  ...   8    21      54
14          14            14              14  ...   6     8       0
15          15            15              15  ...   2     0      21
16          16            16              16  ...   3    19       0
17          17            17              17  ...   9    12      14
18          18            18              18  ...   9    20      58
19          19            19              19  ...   9    21      31

[20 rows x 28 columns]

In [0]:
df.shape

(5000, 28)

In [0]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 28 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           5000 non-null   int64
 1   Unnamed: 0.1         5000 non-null   int64
 2   Unnamed: 0.1.1       5000 non-null   int64
 3   Address              5000 non-null   object
 4   Cars                 5000 non-null   int64
 5   Bluecar counter      5000 non-null   int64
 6   Utilib counter       5000 non-null   int64
 7   Utilib 1.4 counter   5000 non-null   int64
 8   Charge Slots         5000 non-null   int64
 9   Charging Status      5000 non-null   object
 10  City                 5000 non-null   object
 11  Displayed comment    111 non-null    object
 12  ID                   5000 non-null   object
 13  Kind                 5000 non-null   object
 14  Geo point            5000 non-null   object
 15  Postal code          5000 non-null   int64
 16  Public name          5000 non-null   object
 17  Rental status        5000 non-null   object
 18  Scheduled at         47 non-null     object
 19  Slots                5000 non-null   int64
 20  Station type         5000 non-null   object
 21  Status               5000 non-null   object
 22  Subscription status  5000 non-null   object
 23  year                 5000 non-null   int64
 24  month                5000 non-null   int64
 25  day                  5000 non-null   int64
 26  hour                 5000 non-null   int64
 27  minute               5000 non-null   int64
dtypes: int64(15), object(13)
memory usage: 1.1+ MB

DATA CLEANING

1) validity

In [0]:
#dropping the columns that we do not need in answering our questions.
df.drop(['Address','Charge Slots', 'Charging Status','Displayed comment','Scheduled at', 'Subscription status','Station type','Geo point'], axis=1, inplace=True)

In [0]:
df.shape

(5000, 20)

Accuracy

In [0]:
#remove ouliers for accuracy
Q1= df.quantile(0.25)
Q3= df.quantile(0.75)
IQR= Q3-Q1
df= df[~((df < (Q1- 1.5*IQR))|(df > (Q3 + 1.5*IQR))).any(axis=1)]

Completeness

In [0]:
#checking for completeness, any missing values.
df.isnull().sum()

Unnamed: 0            0
Unnamed: 0.1          0
Unnamed: 0.1.1        0
Cars                  0
Bluecar counter       0
Utilib counter        0
Utilib 1.4 counter    0
City                  0
ID                    0
Kind                  0
Postal code           0
Public name           0
Rental status         0
Slots                 0
Status                0
year                  0
month                 0
day                   0
hour                  0
minute                0
dtype: int64

Consistency

In [0]:
#drop duplicate values in the data.
df[df.duplicated(subset=None, keep= 'first')]

Empty DataFrame
Columns: [Unnamed: 0, Unnamed: 0.1, Unnamed: 0.1.1, Cars, Bluecar counter, Utilib counter, Utilib 1.4 counter, City, ID, Kind, Postal code, Public name, Rental status, Slots, Status, year, month, day, hour, minute]
Index: []

Uniformity

In [0]:
#converting date types to strings
df= pd.read_csv('/content/Autolib_dataset (2).csv', dtype = {'year':str,'month':str,'day':str,'hour':str,'minute':str })

In [0]:
#SAVING THE CLEAN DATASET AS CSV
#df.to_csv('/content/Autolib_dataset (2).csv')

ANALYSIS



Research Question

i)Identify the most popular hour of the day for picking up a shared electric car (Bluecar) in the city of Paris over the month of April 2018.

In [0]:
#making sure the city is paris
df[df.City == 'Paris']

      Unnamed: 0  Unnamed: 0.1  Unnamed: 0.1.1  ... day  hour  minute
0              0             0               0  ...   8    11      43
1              1             1               1  ...   6     7      24
3              3             3               3  ...   4     4      37
4              4             4               4  ...   8    17      23
5              5             5               5  ...   6     7       2
...          ...           ...             ...  ...  ..   ...     ...
4992        4992          4992            4992  ...   9    23       1
4994        4994          4994            4994  ...   1    20      49
4996        4996          4996            4996  ...   4    16      56
4997        4997          4997            4997  ...   1     7       1
4999        4999          4999            4999  ...   8    10       2

[2816 rows x 28 columns]

In [0]:
# select the city in the city column as paris
paris=df.copy()

paris.drop(paris[paris.City != 'Paris'].index, inplace=True)

In [0]:
#sort the given data by station and hour 
paris.sort_values(['ID','day','hour','minute'], ascending=True, inplace=True)
paris.head(20)

      Unnamed: 0  Unnamed: 0.1  Unnamed: 0.1.1  ... day  hour  minute
710          710           710             710  ...   1    18      40
2312        2312          2312            2312  ...   2    12      49
1891        1891          1891            1891  ...   2     7      37
4940        4940          4940            4940  ...   4    18      48
911          911           911             911  ...   4     3      10
2306        2306          2306            2306  ...   7    21      18
586          586           586             586  ...   9    20      53
2848        2848          2848            2848  ...   9     5      23
4459        4459          4459            4459  ...   2    11       1
294          294           294             294  ...   7    16      47
573          573           573             573  ...   8    13      56
3883        3883          3883            3883  ...   1     1      53
1424        1424          1424            1424  ...   3    12      25
4343        4343          4343            4343  ...   3    21      53
2738        2738          2738            2738  ...   4    18      23
778          778           778             778  ...   8     1       2
2350        2350          2350            2350  ...   9     0      33
2496        2496          2496            2496  ...   9     0      56
3350        3350          3350            3350  ...   1    20      28
3015        3015          3015            3015  ...   2    14      15

[20 rows x 28 columns]

In [0]:
#Picking up= negative change in cars at station 
#create column with rate of change of bluecar per minute 
paris['change']= paris['Bluecar counter'].diff()

In [0]:
#Determine hour with the highest rate of negative change in cars
paris1= paris[paris.change < 0]
paris1.groupby(['hour'])['change'].sum().sort_values(ascending=True)
#most popular hour is hour 21, with total pickups of 111 cars in the period of April 1- Apil 9

hour
13   -111.0
21   -111.0
16   -110.0
17   -110.0
18   -107.0
6    -103.0
22   -101.0
12    -98.0
15    -97.0
0     -95.0
10    -95.0
4     -90.0
8     -89.0
19    -88.0
20    -88.0
3     -87.0
7     -87.0
11    -85.0
14    -84.0
1     -84.0
23    -81.0
5     -77.0
2     -74.0
9     -66.0
Name: change, dtype: float64

2)What is the most popular hour for returning cars?

In [0]:
#sort the dataset(all cities) by station and hour 
df.sort_values(['ID','day','hour','minute'], ascending=True, inplace=True)
df.head()

      Unnamed: 0                   Address  Cars  ...  day  hour  minute
1352        1352           61 quai Blanqui     0  ...    2    19      28
4528        4528           61 quai Blanqui     0  ...    4     9       5
4880        4880           61 quai Blanqui     0  ...    7    18      40
1693        1693           61 quai Blanqui     0  ...    9     9       1
4424        4424  16 Rue Charles de Gaulle     2  ...    1     0      36

[5 rows x 26 columns]

In [0]:
#create column with rate of change of cars per minute 
df['change']= df['Cars'].diff()

In [0]:
#Returns result in increase of cars at the station therefore:
# Determine hour with the highest rate of positive change in cars
df= df[df.change > 0]
highest = df.groupby(['hour'])['change'].sum().sort_values(ascending=False)
highest
# hour 3 has the highest returns at 219

hour
3     219.0
10    214.0
11    201.0
12    199.0
6     196.0
4     191.0
7     185.0
5     183.0
21    180.0
2     176.0
13    171.0
1     169.0
14    163.0
15    162.0
18    161.0
0     161.0
17    160.0
16    159.0
8     157.0
9     152.0
23    151.0
22    143.0
19    131.0
20    110.0
Name: change, dtype: float64

What station is the most popular?

a) Overall?

b) At the most popular picking hour?

In [0]:
df['change']= df['Cars'].diff()

In [0]:
# a) Overall?
#station with most activity whether positive or negative.

station= df[df.change!=0]
station.head()
station.groupby(['ID'])['change'].count().sort_values(ascending=False).head(1)

Series([], Name: change, dtype: int64)

In [0]:
#determine the most popular picking hour
df= df[df.change < 0]
pick= df.groupby(['hour'])['change'].sum().sort_values(ascending=True)
pick

Series([], Name: change, dtype: float64)